@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:700&display=swap');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}
#logo {
    font-family: 'Zilla Slab', serif;
}

@supports (font-variation-settings: normal) {
    #logo {
        font-family: 'Zilla Slab', serif;
    }
}
